#header {
    background-color: #565f73;
}

#statsChart {
    width: 97%;
    height: 250px;
    margin-top: 35px;
}

.dash-stats .toolbar .btn-link {
    font-family: "Open Sans";
    font-weight: 400;
    padding: 2px 10px;
    color: #9ca4af;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;    
}

.dash-stats .toolbar .btn-link [class^="fa-icon-"], .text-boxes .text-box .toolbar .btn-link > [class*=" fa-icon-"] {
    color: #8dc153;
    margin-right: 10px;
}

#realtimechart {
    height: 210px;
}

.dataTables_filter {
    display: none;
}

#list1_length {
    display: none;   
}

.metric {
    font-size: 5.5em;    
    color: #7d7d7d;
    line-height: 0.9;
}

.dash-stats {
    margin: 25px 10px;
}

#main-content {
    padding: 10px 0 80px 0;
}

#main-content h2 {
    border-bottom: solid 1px;
    border-bottom-color: darkgrey;
}

#ds-red {
    font-size: 1.5em;
    color: #f23c25 !important;
}

#ds-green {
    font-size: 1.5em;
    color: #66ce39 !important;
}